<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Login box.scss -->
<!-- ============================================================== -->
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-light">
    <div class="auth-box bg-light">
        <div>
            <div class="text-center p-t-20 p-b-20" style="margin:3em;">
                <h2>Sinup</h2>
            </div>
            <!-- Form -->
            <div class="card" style="padding:3em;">
            <form class="form-horizontal m-t-20" [formGroup]="registrationForm">
                <div class="row p-b-30">
                    <div class="col-12">
                        
                        <!-- email -->
                        <div class="input-group mb-3">
                            
                            <input type="text" formControlName="email"
                                [ngClass]="{ 'is-invalid': submitted && controls.email.errors }"
                                class="form-control form-control-lg" placeholder="E-mail" aria-label="E-mail"
                                aria-describedby="basic-addon1" required id="inputEmail">
                            <div *ngIf="submitted && controls.email.errors" class="invalid-feedback">
                                <div *ngIf="controls.email.errors.required">E-mail is required.</div>
                                <div *ngIf="controls.email.errors.email">E-mail invalid.</div>
                            </div>
                        </div>
                        <!-- password -->
                        <div class="input-group mb-3">
                            
                            <input type="password" formControlName="password"
                                [ngClass]="{ 'is-invalid': submitted && controls.password.errors }"
                                class="form-control form-control-lg" placeholder="Password" aria-label="Password"
                                aria-describedby="basic-addon1" required id="inputPass">
                            <div *ngIf="submitted && controls.password.errors" class="invalid-feedback">
                                <div *ngIf="controls.password.errors.required">Provide a strong password.</div>
                                <div *ngIf="controls.passwordConfirmation.errors.minlength || controls.passwordConfirmation.errors.maxlength">
                                    The password is not strong as required.
                                </div>
                            </div>
                        </div>
                        <!-- password confirmation-->
                        <div class="input-group mb-3">
                            
                            <input type="password" formControlName="passwordConfirmation"
                                [ngClass]="{ 'is-invalid': submitted && controls.passwordConfirmation.errors }"
                                class="form-control form-control-lg" placeholder="Confirm the password"
                                aria-label="Passoword confirmation" aria-describedby="basic-addon1" required id="inputPassConf">
                            <div *ngIf="submitted && controls.passwordConfirmation.errors" class="invalid-feedback">
                                <div *ngIf="controls.passwordConfirmation.errors.required">Is necessary to confirm the password.</div>
                                <div *ngIf="controls.passwordConfirmation.errors.passwordMismatch">The password does not match.</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="p-t-20">
                                <button class="btn btn-primary" (click)="onSubmit()" id="buttonRegistre">Signup</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <div>
                        <button class="btn btn-link" routerLink="/signin">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
