<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/home" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/users/courses" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Curso</span>
                        </a>
                    </li>

                </ul>
                <hr>
                <div *ngIf="user" class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-none d-sm-inline mx-1">{{user.email}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#" (click)="logout()">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- CONTENT -->

        <div class="col" style="padding: 3em; margin: 1.5em;">

            <div class="row">
                <form class="form-horizontal m-t-20" [formGroup]="searchForm">
                    <div class="input-group">

                        <div class="form-outline">
                            <input type="text" formControlName="name"
                                            [ngClass]="{ 'is-invalid': submitted && controls.name.errors }"
                                            class="form-control form-control-lg" placeholder="Nome do curso"
                                            aria-label="Nome do curso" aria-describedby="basic-addon1" required="" />
                        </div>
                        <button (click)="updateCourses()" type="button" class="btn btn-primary">
                            buscar
                        </button>
                    </div>
                </form>
            </div>

            <button style="margin-top:1em; margin-bottom:1em" type="button" (click)="registerCourse()"
                class="btn btn-outline-primary">Cadastrar curso</button>

            <div *ngIf="loading" class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

            <div *ngIf="error" class="alert alert-danger" role="alert">
                An error occurred when trying to fetch your information. <br />
                {{ error }}
            </div>

            <div *ngIf="courses == null && courseMessage!=null" class="alert alert-primary" role="alert">
                {{courseMessage}}
            </div>

            <table *ngIf="courses" class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Ano</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courses | paginate: {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: courses.length }">
                        <th>{{ course.name }}</th>
                        <th>{{ course.year }}</th>
                    </tr>
                    <tr>
                        <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>