version: '3.1'
services:

  mysql-standalone:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=default_mysql_pass
      - MYSQL_DATABASE=user_crud_db
    ports:
      - "3306:3306"

  user-crud-application-container:
    image: user-crud-application
    ports:
      - "8080:8080"
    environment:
      DB_PASSWORD: default_mysql_pass
    build:
      context: "./"
      dockerfile: "Dockerfile"
    depends_on:
      - mysql-standalone