name: commit tests
on:
  push:
    branches:
      - development

jobs:

  run-unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Setup Maven
        uses: stCarolas/setup-maven@v4.4
        with:
          maven-version: 3.9.3

      - name: Unit Tests
        run: |
          export DB_PASSWORD=default_mysql_pass
          cd back-end
          mvn clean package